<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gigs for Bands</title>
  <link rel="stylesheet" href="./public/css/style.css">
</head>

<body>
    <header class="">
        <h1>GigsforBands</h1>
        <nav>
        <a href="/profile">Bands</a>
        <a href="/profile">Venues</a>
        <a href="/profile">Events</a>
        <!-- <button class="" id="logout">logout</button> -->
        <a href="/login">login</a>
        </nav>
    </header>

    <main>
        <div class="hero">
            <img>
            <h2>Hero Message</h2>
        </div>

        <div class="categories">
            <div class="container">
                <img src="./public/images/band.jpg" class="homepage-img">
                <h2 class="image-title">Performers</h2>
            </div>

            <div class="container">
                <img src="./public/images/venue.jpg" class="homepage-img">
                <h2 class="image-title">Venues</h2>
            </div>
        </div>

        <div class="event-list">
            <h2>Events:</h2>
            {{body}}
        </div>
    </main>

    <footer></footer>
</body>

</html>
