<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gigs for Bands</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
        <a href="/" id="home-btn">GigsforBands</a>
        <a href="/api/performers">Bands</a>
        <a href="/api/venues">Venues</a>
        <a href="#event">Events</a>

        <div class="login-status">
            {{#if logged_in}}
            <button class="" id="logout">logout</button>
            {{else}}
            <a href="/login">login</a>
            {{/if}}
        </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <script src="/js/homepage.js"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>
