<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gigs for Bands</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
        <h1>GigsforBands</h1>
        <a href="/profile">Bands</a>
        <a href="/profile">Venues</a>
        <a href="/profile">Events</a>
        <div class="login-status">
            <!-- <button class="" id="logout">logout</button> -->
            <a href="/login">login</a>
        </div>
        </nav>
    </header>

    <main>
        <div class="hero">
            <div class="hero-img">
                <img src="/images/connection2.jpg">
            </div>
            <h1>The connection between performers and venues</h1>
        </div>

        <div class="categories">
            <div class="container">
                <img src="images/band.jpg" class="homepage-img">
                <h2 class="image-title">Performers</h2>
            </div>

            <div class="container">
                <img src="/images/venue.jpg" class="homepage-img">
                <h2 class="image-title">Venues</h2>
            </div>
        </div>

        <h2 class="event-header">Events:</h2>
        <div class="event-list">
            {{{body}}}
        </div>
    </main>

    <footer></footer>
</body>

</html>
