<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gigs for Bands</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
        <h1>GigsforBands</h1>
        <a href="/profile">Bands</a>
        <a href="/profile">Venues</a>
        <a href="/profile">Events</a>
        <div class="login-status">
            <button class="" id="logout">logout</button>
            <a href="/login">login</a>
        </div>
        </nav>
    </header>

    <main>
        {{{body}}}
    </main>

    <script src="/js/homepage.js"></script>
    <script src="/js/logout.js"></script>
</body>

</html>
