<div class="hero">
  <div class="hero-img">
    <img src="/images/concert3.jpg" alt="Connection Image">
  </div>
  <h1 class="text-4xl font-serif font-bold">The connection between performers and venues</h1>
</div>
<div id="homepage_performers"class="grid grid-cols-2 gap-8 p-8">
  <div class="h-96 bg-white container border rounded-lg overflow-hidden text-center font-serif font-bold">
    <h2 class="image-title  text-3xl" id="performers-title">Performers</h2>
    <img src="/images/band2.jpg" alt="Performers Image" class="homepage-img" id="performers">
    
  </div>
  <div id="homepage_venue"class="h-96 bg-white container border rounded-lg overflow-hidden text-center font-serif font-bold">
    <h2 class="image-title text-3xl" id="venues-title">Venues</h2>
    <img src="/images/venue2.jpg" alt="Venues Image" class="homepage-img" id="venues">
    
  </div>
</div>


<h2 class="text-3xl font-bold mb-8 event-header" id="event">Upcoming Events</h2>

<div id="calendar2" style="max-width: 1000px; margin:0 auto"></div>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script src="../public/js/homepage.js" ></script>




