<div class="hero">
  <div class="hero-img">
      <img src="/images/connection2.jpg">
  </div>
  <h1>The connection between performers and venues</h1>
</div>

<div class="categories">
  <div class="container">
    <img src="images/band.jpg" class="homepage-img" id="performers">
    <h2 class="image-title" id="performers">Performers</h2>
  </div>

  <div class="container">
    <img src="/images/venue.jpg" class="homepage-img" id="venues">
    <h2 class="image-title" id="venues">Venues</h2>
  </div>
</div>

<h2 class="event-header">Events:</h2>
<div class="event-list">
  {{#each events as |event| }}
  <div class="event">
    <h2>{{event.band.name}}</h2>
    <p>{{format_date event.venue.date}}</p>
    <p>{{event.band.genre}}</p>
    <h2>{{event.venue.name}}</h2>
  </div>
  {{/each}}
</div>

