<div class="mt-8 max-w-screen-md mx-auto">
  <h3 class="text-2xl font-bold mb-4">Available Performers</h3>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    {{#each genres as |genre|}}
      <div class="bg-blue-500 text-white p-4 rounded-full shadow">
        <a href="#" class="text-sm">{{genre}}</a>
      </div>
    {{/each}}
  </div>

  <div class="mt-4">
    {{#each bands as |band|}}
      <div class="bg-white p-4 rounded shadow mb-4">
        <h4 class="text-lg font-semibold"><a href="/bandprofile/{{band.id}}" class="text-blue-500 hover:underline">{{band.name}}</a></h4>
        <p class="text-gray-600 text-sm font-bold">{{band.genre}}</p>
      </div>
    {{/each}}
  </div>
</div>
