<h1>My Profile</h1>


<h2>{{band.name}}</h1>
<h2>{{band.genre}}</h2>


<div class="form-group">
    <button class="btn btn-primary" type="submit">Browse available Gigs</button>
<p id="calendar"></p>
<script src="/js/profile.js"></script>