<h1>My Profile</h1>


<h2>{{band.name}}</h1>
<h2>{{band.genre}}</h2>


<div class="form-group">
    <button class="btn btn-primary" type="submit">Browse available Gigs</button>
<div id="calendar" style="max-width: 1000px; margin:0 auto"></div>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script src="/js/profile.js"></script>