
<div class="container mx-auto flex justify-center items-center p-6">
        <div class="max-w-md bg-white p-6 rounded-md shadow-md">
            <div class="text-center">
                <h1>My Profile</h1>
                <h2 class="text-2xl font-bold">{{band.name}}</h2>
                <p class="text-gray-600">Genre: {{band.genre}}</p>
            </div>

            
        </div>
    </div>

<div id="calendar" style="max-width: 1000px; margin:0 auto"></div>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script src="/js/profile.js"></script>