<div class="flex items-center justify-center h-screen">
  <div class="bg-gray-800 p-8 max-w-md w-full border border-black">
    <h2 class="text-2xl font-bold mb-4 text-white text-center">Signup</h2>

   <button class="signup-btn bg-blue-500 text-white font-bold py-2 px-4 rounded-full mb-4 mx-auto ml-6 focus:outline-none focus:shadow-outline-blue" id="performer-signup-btn">Performer Signup</button>
    <button class="signup-btn bg-green-500 text-white font-bold py-2 px-4 rounded-full mb-4 mx-auto ml-4 focus:outline-none focus:shadow-outline-green" id="venue-signup-btn">Venue Signup</button>


    <form class="form signup-form hidden" id="band">
      <div class="mb-4">
        <label for="band-name-signup" class="block text-sm font-medium text-white">Performer Name:</label>
        <input class="form-input" type="text" id="band-name-signup" />
      </div>
      <div class="mb-4">
        <label for="band-genre-signup" class="block text-sm font-medium text-white">Genre:</label>
        <input class="form-input" type="text" id="band-genre-signup" />
      </div>
      <div class="mb-4">
        <label for="band-username-signup" class="block text-sm font-medium text-white">Username:</label>
        <input class="form-input" type="text" id="band-username-signup" />
      </div>
      <div class="mb-4">
        <label for="band-password-signup" class="block text-sm font-medium text-white">Password:</label>
        <input class="form-input" type="password" id="band-password-signup" />
      </div>
      <div class="mb-4">
        <button class="btn btn-primary submit-btn" type="submit">Signup</button>
      </div>
    </form>

    <form class="form signup-form hidden" id="venue">
      <div class="mb-4">
        <label for="venue-name-signup" class="block text-sm font-medium text-white">Venue Name:</label>
        <input class="form-input" type="text" id="venue-name-signup" />
      </div>
      <div class="mb-4">
        <label for="venue-username-signup" class="block text-sm font-medium text-white">Username:</label>
        <input class="form-input" type="text" id="venue-username-signup" />
      </div>
      <div class="mb-4">
        <label for="venue-password-signup" class="block text-sm font-medium text-white">Password:</label>
        <input class="form-input" type="password" id="venue-password-signup" />
      </div>
      <div class="mb-4">
        <button class="btn btn-primary submit-btn" type="submit">Signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>
