<div>
  <h3>Available Venues</h3>

  {{#each venues as |venue|}}
  <div>
      <h4><a href="/venueprofile/{{venue.id}}">{{venue.name}}</a></h4>
      {{!-- <p>{{format_date venue.date}}</p> --}}
      <p>{{venue.genre}}</p>
  </div>
  {{/each}}
</div>

{{!-- <script src="./js/venue.js"></script> --}}
